= bootstrap_form_for @trait do |f|
  - if @trait.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trait.errors.count, "error")} prohibited this trait from being saved:"
      %ul
        - @trait.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :class => 'span6'
  .field
    = f.text_area :description, :class => 'span8', :rows => 5
  .actions
    = f.submit 'Save'
