%p#notice= notice

%h2 
  ='Trait: ' + @trait.name

%p
  %b Description:
  = @trait.description
%p
  = 'Resources ' + @trait.name.pluralize + ' would enjoy:'
  %ul
    - @trait.resources.each do |resource|
      %li
        =link_to resource.name, resource_path(resource)

.btn-group
  .btn
    = link_to 'Edit Trait', edit_trait_path(@trait)
  .btn
    = link_to 'All Traits', traits_path
