.hero.signin_hero
  %h2
    =@user.name
  %hr
  .container
    .image-group.pull-left
      =image_tag @user.avatar_url
      %br
    .image-group.profile_icon.pull-left
      -if user_has_taken_quiz
        -current_user.personality.traits.each do |trait|
          .div.image_results
            =link_to (image_tag trait.image), get_results_path
            %br
            =trait.name
      -else
        Take the innovator type survey to fill out your profile.
        %br
        .btn
          = link_to 'Take the survey!', take_survey_path
  %br
%br


%h3 Uploaded Resources
- @published_resources.each do |resource|
  .resourcebox.span12
    %strong= resource.name
    %br
    = resource.description
    %br
    = link_to 'Show', resource
    %br   

%h3 Bookmarked Resources
- @bookmarks.each do |bookmark|
  .resourcebox.span12
    %strong=bookmark.resource.name
    %br
    = bookmark.resource.description
    %br
    = link_to 'Show', bookmark.resource
    %br


