%h1 Listing formats


-if current_user.is_admin
  .btn=link_to 'Media', media_path
  .btn=link_to 'Format Types', format_types_path

%br
%br
.btn= link_to 'New Format', new_format_path
%br
%br
%table.table.table-striped
  %tr
    %th Medium
    %th Format type
    %th
    %th
    %th

  - @formats.each do |format|
    %tr
      %td= format.medium.name
      %td= format.format_type.name
      %td= link_to 'Show', format
      %td= link_to 'Edit', edit_format_path(format)
      %td= link_to 'Destroy', format, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

