= form_for @value_proposition do |f|
  - if @value_proposition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@value_proposition.errors.count, "error")} prohibited this value proposition from being saved:"
      %ul
        - @value_proposition.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :class => 'span6'
  .field
    = f.text_area :description, :class => 'span8', :rows => 5
  .field
    = f.label 'Value Proposition Category '
    %br
    - if @value_proposition_categories.present?
      %select{name: 'value_proposition_category_id'}
        - @value_proposition_categories.each do |value_proposition_category|
          %option{ value: value_proposition_category.id, selected: value_proposition_category == @value_proposition.value_proposition_category}= h value_proposition_category.name
  .field
    = f.label 'Image upload'
    = f.file_field :image, accept: 'image/png,image/gif,image/jpeg'
  .actions
    = f.submit 'Save', id: 'save'
