%h1 Editing value proposition

= render 'form'

%h3 Steps
.row
  .col-md-8
    - @steps.each do |step|
      .step.col-md-3{:style => 'margin-bottom: 10px;'}
        .panel.panel-default.well.clearfix{:style => 'padding: 2px;'}
          = link_to step.name, step_path(step), class: "show-step", value: step.name
          .clearfix
          .pull-right
            = link_to 'Edit', edit_step_path(step), class: "small-link edit"
            \|
            = link_to 'Delete', step, method: :delete, data: { confirm: 'Are you sure?' }, class: "small-link delete"
  .col-md-2
    = link_to 'Add New Step', new_step_path(@value_proposition), id: "add_step", class: "btn btn-default"
    %br

= link_to 'Show', @value_proposition
\|
= link_to 'Back', edit_value_proposition_category_path(@value_proposition.value_proposition_category)
