%p#notice= notice

%h2
  =@value_proposition.name

%p
  %b Full Description:
  = @value_proposition.description

%p
  - if @value_proposition.colors.present?
    %ul
      - for color in @value_proposition.colors
        .color_container
          %li
            = link_to color.name, color
            .btn
              = link_to 'Resources', '', onclick: "toggleResources(this); return false"
          .resources
            %ul
              - for resource in color.resources
                %li
                  =link_to resource.name, resource_path(resource)
            - if color.resources.empty?
              No resources at this time
  -else
    (Empty)

%p
  &nbsp;

.btn-group
  .btn
    = link_to 'All Value Propositions', pages_value_propositions_path
  %br
  %br
  - if current_user.present? && current_user.is_admin?
    .btn
      = link_to 'Edit Value Proposition', edit_value_proposition_path(@value_proposition)
    .btn
      = link_to 'Manage all Value Propositions', value_propositions_path
