%p#notice= notice
.jumbotron
  .row
    .col-sm-2
      =image_tag @value_proposition.image_name, style: "width:70%; margin: 0px 15% 20px 15%;"
    .col-sm-10
      %h2
        =@value_proposition.name
      %p
        %b
        - if @value_proposition.value_proposition_category.present?
          = link_to @value_proposition.value_proposition_category.name, value_proposition_category_path(@value_proposition.value_proposition_category.id)
        -else
          (Empty)
  %p
    = @value_proposition.description
%hr
%p
  %h3
    Journey
  - @steps.each do |step|
    .col
      .vp_steps.well
        = step.name
      - step.resources.each do |resource|
        .step_resources.well.small-well
          %span
            = link_to resource.name, resource_path(resource)
%br
%br
.btn-group
  - if current_user.present? && current_user.is_admin?
    .btn.btn-default
      = link_to "Edit #{@value_proposition.name}", edit_value_proposition_path(@value_proposition)
  .btn.btn.btn-default
    = link_to 'All Value Proposition Categories', pages_value_proposition_categories_path
