%p#notice= notice

%h2
  ='Value Proposition: ' + @value_proposition.name

%p
  %b Colors:
  - if @value_proposition.colors.present?
    %ul
      - for color in @value_proposition.colors
        %li
          = link_to color.name, color
  -else
    (Empty)

%p
  %b Full Description:
  = @value_proposition.description

%p
  &nbsp;

.btn-group
  - if current_user.is_admin?
    .btn
      = link_to 'Edit Value Proposition', value_propositions_path(@value_proposition)
  .btn
    = link_to 'All Value Propositions', value_propositions_path
