.hero.innovator_hero
  %h2 Manage Value Propositions and Colors
  %br
  %br
.row
  -@value_propositions.each do |value_proposition|
    .value_propositions_container
      .readonly{:id => "value_proposition_#{value_proposition.id}"}
        %p{:style => 'text-align: left; font-size: 24px; font-weight: bold; color: #6BB8D4; margin-top: 15px'}
          = value_proposition.name
          .btn
            = link_to 'Edit', '', onclick: "toggleEdit(this); return false"
          %ul{:style => 'text-align: left;'}
            =value_proposition.description
          %br
          -value_proposition.colors.each do |color|
            %p{:style => 'font-weight: bold; color:#6BB8D4; font-size: 1.2em;'}
              = color.name
              %br
              %ul{:style => 'text-align: left;'}
                %p{:style => 'align: center'}
                = color.description
        %br
        %hr
        %br
      .editable{:id => "value_proposition_#{value_proposition.id}"}
        = form_for(value_proposition, { url: value_proposition_path(value_proposition), html: { onsubmit: 'submitItemEdit(this); return false;' } }) do |value_proposition_form|
          %p{:style => 'text-align: left; font-size: 24px; font-weight: bold; color: #6BB8D4; margin-top: 15px'}
            %br
            Value Proposition Name:
            = value_proposition_form.text_field :name
          %p
            Value Proposition Description:
            = value_proposition_form.text_area :description
            %br
            %table.table.table-striped{:style => 'border: 0px;'}
              = value_proposition_form.fields_for :colors do |color_form|
                %tr
                  %td.half
                    %p{:style => 'font-weight: bold; color:#6BB8D4; font-size: 1.2em;'}
                      Color name:
                      = color_form.text_field :name
                      %br
                      %p{:style => 'align: center'}
                      Color description:
                      = color_form.text_area :description
                      %br
                      %br
                      %br
                      Upload a new image:
                      = file_field_tag 'image', accept: 'image/png,image/gif,image/jpeg'
                  %td.half
                    = image_tag color_form.object.image
                    .btn
                      = link_to 'Delete Color', color_form.object, :method => :delete, :data => { :confirm => 'Are you sure?' }
          .btn
            = link_to 'Save', '', :onclick=>"document.forms['edit_value_proposition_#{value_proposition.id}'].submit();"
          .btn
            = link_to 'Cancel', '', onclick: "toggleEdit(this); return false"
          .btn
            = link_to 'Delete Proposition', value_proposition_form.object, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %br
        %hr
        %br