= form_for @industry do |f|
  - if @industry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@industry.errors.count, "error")} prohibited this industry from being saved:"
      %ul
        - @industry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
