.hero.signin_hero

  -if current_user
    %h2
      = 'Welcome to your user page , ' + current_user.name 
  .container
    .image-group.pull-left
      = image_tag 'Profile3.png' , class: 'primary'
      %br

    .image-group.profile_icon.pull-left
      =image_tag 'adventurer.png'
      =image_tag 'anchor.png'
      =image_tag 'maverick.png'
      =image_tag 'team_player.png'
      %br
  %br
  %br
    %section.phase-white
      %table
        %tr

          %h2 Recent Tools Used

          = image_tag 'ToolsPlaceholder.png'
          = image_tag 'ToolsPlaceholder.png'
          = image_tag 'ToolsPlaceholder.png'
          = image_tag 'ToolsPlaceholder.png'
          %br
    .row
      - @resources.each do |resource|
        .resourcebox.span12
          %strong= resource.name
          %br
          %br
          = resource.description
          %br
          %br
          = link_to 'Show', resource

        // This phase involves taking direct action to synthesize and put out a physical product, or take concrete steps in making the solution outlined in the plan phase a reality. Prototyping, networking, and product development fall under this category. 




