= form_for @color do |f|
  - if @color.errors.any?
    #error_explanation
      %h2= "#{pluralize(@color.errors.count, "error")} prohibited this color from being saved:"
      %ul
        - @color.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :class => 'span6'
  .field
    = f.text_area :description, :class => 'span8', :rows => 5
  .field
    = f.label 'Value Proposition'
    %br
    - if @value_propositions.present?
      %select{name: 'value_proposition_id'}
        - @value_propositions.each do |value_proposition|
          %option{ value: value_proposition.id, selected: value_proposition == @color.value_proposition}= h value_proposition.name
  .field
    = f.label 'Image upload'
    = f.file_field :image, accept: 'image/png,image/gif,image/jpeg'
  .actions
    = f.submit 'Save', id: 'save'
