%h1 Colors

%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Value Proposition
    %th{colspan: 3} Actions

  - @colors.each do |color|
    %tr
      %td= color.name
      %td= color.description
      %td
        - if color.value_proposition_category.present?
          = color.value_proposition_category.name
      %td= link_to 'Show', color
      
      - if current_user.present? && current_user.is_admin?
        %td= link_to 'Edit', edit_color_path(color), id: "edit_color_#{color.id}"
        %td= link_to 'Destroy', color, :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete_color_#{color.id}"
      - else
        %td{colspan: 2}
%br

.btn
  = link_to 'New Color', new_color_path, id: 'create_new_color'