%p#notice= notice

%h2
  ='Color: ' + @color.name

%p
  %b Value Proposition:
  - if @color.value_proposition.present?
    = link_to @color.value_proposition.name, value_proposition_path(@color.value_proposition.id)
  -else
    (Empty)

%p
  %b Full Description:
  = @color.description
%p
  = 'Resources ' + @color.name.pluralize + ' would enjoy:'
  %ol
    - @color.resources.each do |resource|
      %li{:id => "vp_#{@color.id}_#{resource.id}"}
        = link_to resource.name, resource_path(resource)

.btn-group
  - if current_user.present? && current_user.is_admin?
    .btn
      = link_to 'Edit Color', edit_color_path(@color)
  .btn
    = link_to 'All Colors', pages_value_propositions_path
