%p#notice= notice
.jumbotron
  .row
    .col-sm-2
      =image_tag @color.image_url, style: "width:70%; margin: 0px 15% 20px 15%;"
    .col-sm-10
      %h2
        =@color.name
      %p
        %b
        - if @color.value_proposition.present?
          = link_to @color.value_proposition.name, value_proposition_path(@color.value_proposition.id)
        -else
          (Empty)
  %p
    = @color.description

- if current_user.present? && current_user.is_admin?
  %p
    Change image
    = direct_upload_form_for @uploader do |f|
      = f.file_field :image
      = f.submit "Upload Image"

%hr
%p
  %h3
    = 'Helpful resources for ' + @color.name.pluralize + ' engagements'
  %table.table.table-striped
    - @color.resources.each do |resource|
      %tr{:id => "vp_#{@color.id}_#{resource.id}"}
        %td
          = link_to resource.name, resource_path(resource)

.btn-group
  - if current_user.present? && current_user.is_admin?
    .btn.btn-default
      = link_to "Edit #{@color.name}", edit_color_path(@color)
  .btn.btn.btn-default
    = link_to 'All Value Propositions', pages_value_propositions_path
