= bootstrap_form_for @resource do |f| 
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  %h2 Basic Information
  .field
    = f.text_field :name, :placeholder => 'Name', :class => 'span6'
  .field
    = f.text_field :link, :class => 'span6'
  .field
    = f.text_area :description, :placeholder => 'A short description of what this resource is', :class => 'span8', :rows => 5
  .field
    = f.text_area :full_description, :placeholder => 'Full description of what this resource is', :class => 'span8', :rows => 6
  .field
    = f.text_field :source, :placeholder => 'Who developed this resource?', :class => 'span6'
  .field
    = f.text_field :tag_list, :class => 'span6'

  %h2 Tags
  %h4= 'What innovator type is this best suited for?'
  .field
    = hidden_field_tag "resource[trait_ids][]", nil
    -@traits.each do |trait|
      =check_box_tag "resource[trait_ids][]", trait.id, @resource.trait_ids.include?(trait.id)
      =trait.name 
      %br
  %br
  %h4= 'What phases is this best suited for?'
  .field
    = hidden_field_tag "resource[phase_ids][]", nil
    -@phases.each do |phase|
      =check_box_tag "resource[phase_ids][]", phase.id, @resource.phase_ids.include?(phase.id)
      =phase.name 
      %br
  %br
  %h4= 'Does this have a particular industry focus?'
  .field
    = hidden_field_tag "resource[industry_ids][]", nil
    -@industries.each do |industry|
      =check_box_tag "resource[industry_ids][]", industry.id, @resource.industry_ids.include?(industry.id)
      =industry.name 
      %br
  %br
  %h4= 'What format is this resource?'
  .field.AllFormats
    = hidden_field_tag "resource[format_ids][]", nil
    -@media.each do |medium|
      =radio_button_tag 'MediumBox', medium.id
      =medium.name
      %div.FormatSelectBox{:id => 'Formats_MediumBox_' + medium.id.to_s}
        -@formats.each do |format|
          -if format.medium.id == medium.id
            =check_box_tag "resource[format_ids][]", format.id, @resource.format_ids.include?(format.id)
            =format.format_type.name
            %br
        %br
      %br
  %br
  %br
  .field
    =f.submit


