= form_for @resource do |f|
  .row
    - if @resource.errors.any?
      #error_explanation
        %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
        %ul
          - @resource.errors.full_messages.each do |msg|
            %li= msg
  %h2 Basic Information
  .row
    .form-group.col-sm-6
      %label.control-label
        = f.label :name
      = f.text_field :name, :placeholder => 'Name', :class => "form-control"
  .row
    .form-group.col-sm-6
      %label.control-label
        = f.label :link
      = f.text_field :link, :class => "form-control"
  .row
    .form-group.col-sm-6
      %label.control-label
        = f.label :description
      = f.text_area :description, :placeholder => 'A short description of what this resource is', :class => "form-control", :rows => 5
  .row    
    .form-group.col-sm-6
      %label.control-label
        = f.label :full_description
      = f.text_area :full_description, :placeholder => 'Full description of what this resource is', :class => "form-control", :rows => 6
  .row
    .form-group.col-sm-6
      %label.control-label
        = f.label :source
      = f.text_field :source, :placeholder => 'Who developed this resource?', :class => "form-control"
  .row
    .form-group.col-sm-6
      %label.control-label
        = f.label :tag_list
      = f.text_field :tag_list, :class => "form-control"
  %h2 Tags
  %h4= 'What value proposition color is this best suited for?'
  .field
    = hidden_field_tag "resource[color_ids][]", nil
    -@colors.each do |color|
      =check_box_tag "resource[color_ids][]", color.id, @resource.color_ids.include?(color.id)
      =color.name
      %br
  %br
  %h4= 'What phases is this best suited for?'
  .field
    = hidden_field_tag "resource[phase_ids][]", nil
    -@phases.each do |phase|
      =check_box_tag "resource[phase_ids][]", phase.id, @resource.phase_ids.include?(phase.id)
      =phase.name 
      %br
  %br
  %br
  %br
  .field
    =f.submit


