= form_for @resource do |f| 
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  %h2 Basic Information
  .field
    = f.text_field :name, :placeholder => 'Name', :class => 'span6'
  .field
    = f.text_field :link, :class => 'span6'
  .field
    = f.text_area :description, :placeholder => 'A short description of what this resource is', :class => 'span8', :rows => 5
  .field
    = f.text_area :full_description, :placeholder => 'Full description of what this resource is', :class => 'span8', :rows => 6
  .field
    = f.text_field :source, :placeholder => 'Who developed this resource?', :class => 'span6'
  .field
    = f.text_field :tag_list, :class => 'span6'

  %h2 Tags
  %h4= 'What value proposition color is this best suited for?'
  .field
    = hidden_field_tag "resource[color_ids][]", nil
    -@colors.each do |color|
      =check_box_tag "resource[color_ids][]", color.id, @resource.color_ids.include?(color.id)
      =color.name
      %br
  %br
  %h4= 'What phases is this best suited for?'
  .field
    = hidden_field_tag "resource[phase_ids][]", nil
    -@phases.each do |phase|
      =check_box_tag "resource[phase_ids][]", phase.id, @resource.phase_ids.include?(phase.id)
      =phase.name 
      %br
  %br
  %br
  %br
  .field
    =f.submit


