= bootstrap_form_for @resource do |f| 
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg


  = render :partial => "#{@resource.current_step}", :locals => {:f => f} 
  = f.submit "Continue"
  = f.submit "Back", :name => "back_button" unless @resource.first_step?



