= bootstrap_form_for @resource do |f| 
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, :placeholder => 'Name', :class => 'span6'
  .field
    = f.text_field :link, :placeholder => 'http://www.example.com', :class => 'span6'
  .field
    = f.text_area :description, :placeholder => 'A short description of what this resource is', :class => 'span8', :rows => 5
  .field
    = f.text_area :full_description, :placeholder => 'Full description of what this resource is', :class => 'span8', :rows => 6
  .field
    = f.text_field :source, :placeholder => 'Who developed this resource?', :class => 'span6'
  .field
    = hidden_field_tag "resource[trait_ids][]", nil
    -@traits.each do |trait|
      =check_box_tag "resource[trait_ids][]", trait.id, @resource.trait_ids.include?(trait.id)
      =trait.name 
      %br
  .actions
    = f.submit 'Save'
