.row
  -if current_user
    .btn.pull-right

  %h1
    Resources
    .pull-right
      = link_to 'Add New Resource', new_free_resource_path, class: "btn btn-default", id: "new_resource"
  %hr
.row
  .col-sm-3.resource_filters
    %h3
      Filters
    =form_tag(filter_path, method: "post") do |f|
      =text_field_tag :resource_search, nil, id: 'resource_search', class: 'form-control', placeholder: "Resource search"
      %br
      =submit_tag 'Search', id: "submit_resource_search", class: 'btn btn-default pull-right'

  .col-sm-9
    =paginate @resources
    - @resources.each do |resource|
      .well.container{id: "resource_#{resource.id}"}
        .col-sm-4
          =link_to (image_tag resource.image_name, id: "resource_image_#{resource.id}", size: '100x100'), resource_path(resource)
        .col-sm-8
          %h3
            = link_to resource.name, resource, id: "resource_name_#{resource.id}"
          %p
            -resource.tags.each do |tag|
              =link_to tag.name, tag_path(tag), class: 'tag_tag'
          %p
            Source:
            = resource.source
          %p
            =resource.description
          %p

          -resource.value_propositions.each do |value_proposition|
            =link_to (image_tag value_proposition.image_name, size: '40x40'), value_proposition_path(value_proposition)
          %br
          %br
          .manipulate_resource
            - if current_user.can_edit_and_delete_resource?(current_user, resource)
              .btn-group
                .btn.btn-default
                  = link_to 'Edit this Resource', edit_free_resource_path(resource), id: "edit_resource_#{resource.id}"
                .btn.btn-default
                  = link_to 'Delete this Resource', resource, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete_resource_#{resource.id}"
