-if current_user
  .btn.pull-right
    = link_to 'New Resource', new_resource_path

%h1
  Resources
.row
  .span3.resource_filters
    =form_tag do |f|
      =text_field_tag :search, "Keyword search", id: 'search_box'
    .search_title
      Innovator Types
    .trait_filter_box
      -@traits.each do |trait|
        =image_tag trait.image, size: '50x50', class: 'trait_filter', title: trait.name
    .search_title
      Innovation Stages
    #phase_filters  
      .phase_filter
        Plan
      .phase_filter
        Act
      .phase_filter
        Observe
      .phase_filter
        Reflect
    .search_title
      Industry
    .industry_filter_box
      -@industries.each do |industry|
        =check_box_tag "resource[industry_ids][]", industry.id
        =industry.name
        %br

  .span9
    - @resources.each do |resource|
      .row
        .span3
          =image_tag 'ToolsPlaceholder.png'
        .span6
          = resource.name
          %br
          = resource.author.name
          %br
          -resource.traits.each do |trait|
            =link_to (image_tag trait.image, size: '50x50'), trait_path(trait)

    %table.table.table-striped
      %tr
        %td Name
        %td Upvotes
        %td Author
        %td Description
        %td
        %td
        %td
      - @resources.each do |resource|
        %tr.small_text
          %td
            = resource.name
          %td
            = resource.upvotes.count
          %td
            = resource.author.name
          %td
            = resource.full_description
          %td
            = link_to 'Show', resource
          %td
            = link_to 'Edit', edit_resource_path(resource) if current_user.is_admin?
          %td
            = link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure?' } if current_user.is_admin?
    %br

    -if current_user
    -else
    .row.phase-white
      %p{:align => 'left', :style => 'color: #de403c; font-size: 1.5em; margin: 0 0 0 0;'} Log in to edit resources!