.row
  -if current_user
    .btn.pull-right
      = link_to 'New Resource', new_resource_path, id: 'new_resource'

  %h1
    Resources
  %hr
.row
  .col-sm-3.resource_filters
    %h3
      Filters
    =form_tag do |f|
      =text_field_tag :search, "Keyword search", id: 'search_box'
    .search_title
      Innovator Types
    .color_filter_box
      -@colors.each do |color|
        =image_tag color.image, size: '50x50', class: 'color_filter', title: color.name
    .search_title
      Innovation Stages  
    .phase_filter_box
      -@phases.each do |phase|
        =check_box_tag "resource[phase_ids][]", phase.id
        =phase.name
        %br

  .col-sm-9.well
    =paginate @resources
    - @resources.each do |resource|
      .container{id: "resource_#{resource.id}"}
        =image_tag 'ResourcePlaceHolder.png', size: '160x100'
        %br
        %br
        -resource.tags.each do |tag|
          =link_to tag.name, tag_path(tag), class: 'tag_tag'
        %b
        = link_to resource.name, resource
        %br
          Source:
          = resource.source
          .manipulate_resource{:style => 'text-align: right;'}
            -if current_user.present? && current_user.is_admin?
              = link_to 'Edit', edit_resource_path(resource), {id: "edit_resource_#{resource.id}"}
              = ' | '
              = link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %br
        =resource.description
        %br
        %br
        Phases: |
        -resource.phases.each do |phase|
          =phase.name.upcase + " |"
        %br
        -resource.colors.each do |color|
          =link_to (image_tag color.image, size: '40x40'), color_path(color)
        %br
  %hr
