-if current_user
  .btn.pull-right
    = link_to 'New Resource', new_resource_path

%h1
  Resources
%hr
.row
  .span3.resource_filters
    %h3
      Filters
    =form_tag do |f|
      =text_field_tag :search, "Keyword search", id: 'search_box'
    .search_title
      Innovator Types
    .trait_filter_box
      -@traits.each do |trait|
        =image_tag trait.image, size: '50x50', class: 'trait_filter', title: trait.name
    .search_title
      Innovation Stages  
    .phase_filter_box
      -@phases.each do |phase|
        =check_box_tag "resource[phase_ids][]", phase.id
        =phase.name
        %br
    .search_title
      Industry
    .industry_filter_box
      -@industries.each do |industry|
        =check_box_tag "resource[industry_ids][]", industry.id
        =industry.name
        %br

  .span9
    =paginate @resources
    - @resources.each do |resource|
      .row
        .span3
          =image_tag 'ResourcePlaceHolder.png', size: '160x100'
          %br
          %br
          -resource.tags.each do |tag|
            =link_to tag.name, tag_path(tag), class: 'tag_tag'
        .span6{:style => 'margin: 0 0 0 -8px;'}
          %b
            = link_to resource.name, resource
            %br
          .row  
            .span4
              Source: 
              = resource.source
            .span2.pull-right
              .manipulate_resource{:style => 'text-align: right;'}
                = link_to 'Edit', edit_resource_path(resource) if current_user.is_admin?
                = ' | '
                = link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure?' } if current_user.is_admin?
          %br
          =resource.description
          %br
          %br
          Phases: | 
          -resource.phases.each do |phase|
            =phase.name.upcase + " |"
          %br
          -resource.traits.each do |trait|
            =link_to (image_tag trait.image, size: '40x40'), trait_path(trait)
          %br
      %hr

    -if current_user
    -else
    .row.phase-white
      %p{:align => 'left', :style => 'color: #de403c; font-size: 1.5em; margin: 0 0 0 0;'} Log in to edit resources!