%p#notice= notice
.jumbotron
  .row
    .col-sm-2
      =image_tag @resource.image_name, class: 'resource_image'
    .col-sm-10
      %h2{id: "resource_#{@resource.id}_title"}
        =@resource.name
      %hr
      .row.showresource
        .col-sm-4
          %p.authorBox='Uploaded by: ' + @resource.author.name
  .col-sm-8
    %p
      = @resource.full_description
.row.showresource
  .col-sm-4
    %h3
      Colors
    -@resource.colors.each do |color|
      =link_to (image_tag color.image_name, size: '70x70'), color_path(color)
    %br
    %h3
      Link to Resource
    %a{:href=> "#{@resource.link}"} #{@resource.name} (#{@resource.link})
    
    %h3
      Resource's File
    =link_to "Click Here To Download", @resource.file_name

    %h3
      Tool popularity
    %p
      -if @resource.upvotes.count < 1
        ='No likes yet.'
      -if @resource.upvotes.count == 1
        =@resource.upvotes.count
        ='user likes this resource!'
      -if @resource.upvotes.count > 1
        =@resource.upvotes.count
        ='users like this resource!'
    %br
    = raw @resource.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')

  .col-sm-8
    %p.full_description
      = @resource.description
%hr
//Like
-if @resource.user_upvote(current_user).count > 0
  .btn.btn-warning
    = link_to image_tag('Star-Success.png') + " I like it", clear_upvote_path(resource_id: @resource.id)
-else
  .btn.like.btn-default
    = link_to image_tag('Star.png') + " Like", resource_upvotes_path(@resource), :method => :post

//Bookmark
-if @bookmark.exists?
  .btn.btn-success
    = link_to image_tag('bookmark.png') + "Bookmarked", unmake_bookmark_path(resource_id: @resource.id)
-else
  .btn.btn-default
    = link_to image_tag('bookmark.png') + " Bookmark tool", make_bookmark_path(resource_id: @resource.id)


- if current_user.can_edit_and_delete_resource?(current_user, @resource)
  .btn.btn-default
    = link_to 'Edit this Resource', edit_resource_path, id: "edit_resource_#{@resource.id}"
  .btn.btn-default
    = link_to 'Delete this Resource', @resource, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete_resource_#{@resource.id}"
%h3 Comments

.new_comment
  =form_tag(resource_comments_save_path(@resource), method: :post, :id => 'new_comment') do
    =hidden_field_tag 'resource_id', @resource.id
    =text_area_tag 'comment_text', nil, rows: 2, cols: 10, :class => 'new_comment_text form-control'
    %br
    =submit_tag 'Save Comment', class: 'btn btn-primary'
.comments
  -@comments.each do |comment|
    .comment
      %h5.author
        =comment.author.name
      =comment.text
      
      -if current_user.id == comment.author.id
        %br
        =link_to ' Delete', resource_comments_delete_path(resource_id: @resource.id, comment_id: comment.id), :class => 'delete_link'

        

