%p#notice= notice

%h2
  ='Resource: '+ @resource.name
%p
  %b Link:
  = link_to @resource.link, @resource.link
%p
  %b Description:
  = @resource.description
  %p
    %b This is a great resource for:
    %ul
      -@resource.traits.each do |trait|
        %li
          =link_to trait.name.pluralize, trait_path(trait)

.btn-group
  .btn
    = link_to 'Edit Resource', edit_resource_path(@resource)
  .btn
    = link_to 'All Resources', resources_path
