%p#notice= notice

%h2.resourcetitle
  =@resource.name
  %br
%p
  =image_tag 'ResourcePlaceHolder.png'


.row.showresource
  .col.left.span4{:style => 'font-size: 20px;'}
    = @resource.description
    %br
    %br
    %p.authorBox='Uploaded by: ' + @resource.author.name
    %b.resourcetraitBox
      This is a great resource for:
      %br
      %b{:style => 'padding: 2px;'}
        %br
        Traits
        %br
        -@resource.traits.each do |trait|
          =link_to (image_tag trait.image, size: '70x70'), trait_path(trait)
      %b{:style => 'padding: 2px;'}
        %br
        %br
        Industries
        %br
        -@resource.industries.each do |industry|
          %span.industry_tag
            =industry.name
    %br
    %br
    %b.resourcetraitBox
      Tool popularity
    %p{:style => 'margin: 4px;'}
      -if @resource.upvotes.count < 1
        =''
      -if @resource.upvotes.count > 1
        =@resource.upvotes.count
        ='users like the tool!'
      -else
        =@resource.upvotes.count
        ='user likes the tool!'
    %br
    %br
    = raw @resource.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')



  .col.right.span8
    %b Full Description: 
    = @resource.full_description
    %br
    %br
    %br
    .explore{:style => 'text-align: center;'}
      -if @resource.link
        = link_to 'Go explore the resource!', @resource.link, :target => 'blank'
      %br

%p
%p
.row
  .col.left.span4
    -if current_user
      .btn-group
      .btn
        = link_to 'Edit Resource', edit_resource_path(@resource)
    -else
      .row.phase-white
        %p{:align => 'left', :style => 'color: #de403c; font-size: 1.5em; margin: 50 0 100 50;'} Log in to edit resources!
  .col.right.span8{:style => 'text-align: center;'}
    -unless @resource.user_upvote(current_user).count > 0
      .btn.like
        = link_to image_tag('Star.png') + " Like!", resource_upvotes_path(@resource), :method => :post
    -else
      .btn.btn-success
        = link_to image_tag('Star-Success.png') + " I like it!", clear_upvote_path(resource_id: @resource.id)
    -unless @bookmark.exists?
      .btn
        = link_to image_tag('bookmark.png') + " Bookmark tool!", make_bookmark_path(resource_id: @resource.id)
    -else
      .btn.btn-success
        =link_to image_tag('bookmarked.png') + "Bookmarked!", unmake_bookmark_path(resource_id: @resource.id)

    .btn-group
      .btn
        = link_to 'Explore other resources', resources_path
%br

.comments_block_in#comments_block
  #comment_toggle
    %span#retractor
      Comment

  .new_comment
    =form_tag(resource_comments_save_path(@resource), method: :post, :id => 'new_comment') do
      =hidden_field_tag 'resource_id', @resource.id
      =text_area_tag 'comment_text', nil, rows: 2, cols: 10, :class => 'new_comment_text'
      %br
      =submit_tag 'Save Comment', class: 'btn'
  .comments
    -@comments.each do |comment|
      .comment
        %h5.author
          =comment.author.name
        =comment.text
        
        -if current_user.id == comment.author.id
          %br
          =link_to ' Delete', resource_comments_delete_path(resource_id: @resource.id, comment_id: comment.id), :class => 'delete_link'

        

