%p#notice= notice

%h2
  ='Resource: '+ @resource.name
%p
  %b Link:
  = link_to @resource.link, @resource.link
%p
  %b Full Description:
  = @resource.full_description
  %p
    %b This is a great resource for:
    %ul
      -@resource.traits.each do |trait|
        %li
          =link_to trait.name.pluralize, trait_path(trait)



.btn-group 
  .btn
    = link_to 'All Resources', resources_path

-if current_user
  .btn-group
  .btn
    = link_to 'Edit Resource', edit_resource_path(@resource)
-else
  .row.phase-white
    %p{:align => 'left', :style => 'color: #de403c; font-size: 1.5em; margin: 50 0 100 50;'} Log in to edit resources!
  

