:javascript
  $(function() {
    $("#sortable").sortable({ 
      axis: 'y',
      update: function (event, ui) {
        var data = $(this).sortable("serialize") + "&value_proposition_id=" + $(this).data("value-proposition-id");
        $.post($(this).data("update-url"), data);
      }
    });
  });

%h1 Reordering steps
%p Drag and drop to reorder.
%br
%ul{id: 'sortable', :'data-update-url'=> "#{sort_steps_url}", :'data-value-proposition-id' => "#{@value_proposition_id}"}
  - @steps.each do |step| 
    %li{class: "well reorder-steps", id: "step_#{step.id}"}
      = step.name
%br
= link_to 'Done', edit_value_proposition_path(@value_proposition_id), class: "btn btn-default"
