= form_for @format_type do |f|
  - if @format_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@format_type.errors.count, "error")} prohibited this format_type from being saved:"
      %ul
        - @format_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
