= form_for @value_proposition_category do |f|
  - if @value_proposition_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@value_proposition_category.errors.count, "error")} prohibited this value proposition category from being saved:"
      %ul
        - @value_proposition_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :class => 'span6'
  .field
    = f.text_area :description, :class => 'span8', :rows => 5
  .actions
    = f.submit 'Save', id: 'save_new_value_proposition_category'