%p#notice= notice

%h2
  =@value_proposition_category.name

%p
  %b Full Description:
  %div{:id => "value_proposition_description_#{@value_proposition_category.id}"}
    = @value_proposition_category.description

%p
  - if @value_proposition_category.colors.present?
    %ul
      - for color in @value_proposition_category.colors
        .color_container
          %li
            = link_to color.name, color
            .btn
              = link_to 'Resources', '', onclick: "toggleResources(this); return false"
          .resources
            %ul
              - for resource in color.resources
                %li
                  =link_to resource.name, resource_path(resource)
            - if color.resources.empty?
              No resources at this time
  -else
    (Empty)

%p
  &nbsp;

.btn-group
  .btn
    = link_to 'All Value Proposition Categories', pages_value_proposition_categories_path
  %br
  %br
  - if current_user.present? && current_user.is_admin?
    .btn
      = link_to 'Edit Value Proposition Category', edit_value_proposition_category_path(@value_proposition_category)
    .btn
      = link_to 'Manage all Value Proposition Category', value_proposition_categories_path
