%html
  %head
    %title sidekick
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .content
      = render 'layouts/header'  
    .flash
      =flash[:notice]
    .container
      = yield
    .content
      = render 'layouts/footer'