%html
  %head
    %title Ipi Platform
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags



  %body
    .content
      = render 'layouts/header'  
    .container
      = yield
    .content
      = render 'layouts/footer'